* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00c6ff, #e4f1fe);
}

.container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-box {
    gap: 25px;
}

input {
    width: 500px;
    padding: 12px;
    border: 1px solid #212121;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
}

input::placeholder {
    text-align: center;
    color: #2121219a;
    font-size: 18px;
    font-weight: 500;
}

.btn1 {
    padding: 12px 15px;
    border: 1px solid #212121;
    border-radius: 25px;
    cursor: pointer;
    color: #0072ff;
    font-weight: bold;
    background-color: #bae8e8;
    text-align: center;
}

.btn1:hover {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #212121;
    border-radius: 25px;
    cursor: pointer;
    color: #bae8e8;
    font-weight: bold;
    background-color: #0072ff;
}

.weather {
    margin-top: 25px;
    display: none;
}

.temp {
    font-size: 60px;
    font-weight: bold;
}

.city {
    font-size: 28px;
    margin-top: 10px;
}

.desc {
    font-size: 18px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .15);
    padding: 120px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(135deg, #00c6ff, #5fc9f3);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.error {
    margin-top: 15px;
    color: #ffdddd;
}

#wind {
    width: 150px;
}